$lightNavbar : rgba(49, 188, 204, 0.541);
$scrolledNavbar : rgb(49, 188, 204);
$footerBorder :  rgb(163, 163, 163) ;
$detial-delete-btn: rgba(44, 62, 94, 0.624);
$hovered-detial-delete-btn :rgb(126, 2, 2);